<p>now-playing-movie works!</p>

<body>
<h1>Fuck you!</h1>

<div>
  <div *ngFor="let genre of movieGenres;">
    <button  (click)="selectedGenreOnClick(genre.id)">{{genre.name}}</button>
  </div>
</div>




<div>
  <input type="text" [(ngModel)]="searchName">
</div>

<div *ngIf="nowPlayingMovies">
  <div *ngFor="let nowPlayingMovie of nowPlayingMovies | filter: searchName">
    <div>{{nowPlayingMovie.title}}{{nowPlayingMovie.genre_ids}}
      <div>
        <img src="{{posterPath}}{{nowPlayingMovie.poster_path}}">
      </div>
    </div>
  </div>
</div>



</body>
