<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="#" class="navbar-brand"> SWE Project Movie World</a>
  <button class="navbar-toggler"></button>
  <div>
    <ul class="navbar-nav">

      <li class=" mr-auto col-auto" routerLink="active" >
        <a href="#" routerLink="/">Home</a>
      </li>
      <li class="col-auto" routerLinkActive="active">
        <a href="#" routerLink="favourites">Favourites</a>
      </li>
      <li class="col-auto" routerLinkActive="active">
        <a href="#"  routerLink="nowPlaying">Now Playing</a>
      </li>
      <li class="col-auto" routerLinkActive="active">
        <a href="#" routerLink="topRated" >Top Rated</a>
      </li>
      <li role="presentation" routerLinkActive="active">
        <a routerLink="/search">Search</a>
      </li>
    </ul>
  </div>
</nav>
</body>
