
<p>search works!</p>

<div>

  <div>
    <input class="input-group-text" placeholder="Film suchen"
              [(ngModel)]="searchMovieInput"/>

    <button (click)="onClick()" class="btn btn-dark ml-1">Search</button>
  </div>


  <div *ngFor="let searchMovie of movies">
    <div>{{searchMovie.title}}</div>
    <div>
      <img src="{{this.moviePath}}{{searchMovie.poster_path}}">
    </div>



  </div>

  <!--  <app-search>
    <input text="this input" [(ngModel)]="searchMovieInput" >
  </app-search>-->
</div>

