<div style="padding: 20px">
  <div class="col-sm-auto">
    <div>
      <input type="text" [(ngModel)]="searchName">
    </div>
    <div *ngIf="populars">
      <div *ngFor="let popular of populars | filter: searchName">
        <div class="container" id="borderlineForPopular">
          <div class="row">
            <div class="col-sm-auto">
              <div>
                <img src="http://image.tmdb.org/t/p/w500{{popular.poster_path}}" style="max-height: 250px">
              </div>
            </div>
            <div class="col-sm-3">
              <h3>{{popular.title}}
              </h3>
              <h4>Movie Description</h4>
              <div style="font-size: small">{{popular.overview}}
              </div>
            </div>
            <div class="col-auto">
              <button class="btn btn-info"
                      (click)="onAddToFavourites(popular);">
                Add to Favourites
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
