<body id="popularbody">
<div class="container-fluid">
  <div class="col-6">
    <div *ngIf="populars">
      <div *ngFor="let popular of populars | filter: searchName">
        <div class="container movieContainer" id="borderlineForPopular">
          <div class="row">
            <div class="col-auto">
              <div>
                <img src="http://image.tmdb.org/t/p/w500{{popular.poster_path}}" style="max-height: 250px"
                     class="rounded">
              </div>
            </div>
            <div class="col-7 text-left">
              <h3>{{popular.title}}
              </h3>
              <h6>{{popular.overview}}</h6>
            </div>
            <div class="col-auto align-text-bottom">
              <div>
                <button class="btn btn-info" id="addButton"
                        (click)="onAddToFavourites(popular);">
                  Add to Favourites
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
