<br>
<div>
  <input type="text" placeholder="Search Popular" class="form-control col-2 my-0 py-1 amber-border min-width form-control-movie-world" [(ngModel)]="searchName" >
</div>
<br>
<div *ngFor="let genre of movieGenres"  class="btn-group" role="group">
    <button class="btn btn-dark" style="margin: 2px" (click)="selectedGenreOnClick(genre.id)" id="buttonGenre">{{genre.name}}</button>
</div>
<br>
<br>
<h1 id="textOnTop">Welcome to our fantastic Movie World Homepage! Here you have some of the most popular Movies at the time!</h1>
<div class="container-fluid">
  <div class="row">
    <div *ngIf="nowPlayingMovies"></div>
    <div *ngFor="let movie of nowPlayingMovies | filter: searchName">
      <div class="container-fluid movieContainer">
        <div class="row movieRow">
          <div class="col-auto">
            <div class="align-content-between">
              <img src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}"
                   class="rounded" id="imageSize">
            </div>
            <div class="col align-self-center" style="margin: 10px">
              <div>
                <button class="btn btn-info"
                        (click)="onAddToFavourites(movie);">
                  Add to Favourites
                </button>
              </div>
            </div>
          </div>
          <div class="col text-left">
            <h3>{{movie.title}}
            </h3>
            <h6>{{movie.overview}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
