<body>
<br>
<h2 id="textOnTop">Here is your List of Movies you added to your Favourites</h2>

<br>
<div class="container col containerForFavouriteMovies">
  <div class="row">
    <div *ngFor="let movie of favMovieListFromMongoDB, let i = index" style="padding: 10px">
      <div class="container-fluid containerForFavouritMovie">
        <div class="row justify-content-center">
          <br>
          <h4>
            {{movie.favMovieTitle}}
          </h4>
        </div>
        <div class="row justify-content-center">
          <img src="http://image.tmdb.org/t/p/w500{{movie.favMoviePosterPath}}"
               class="rounded" id="imageSize">
        </div>
<!--        <div class="row justify-content-center" style="padding: 40px">-->
        <div class="row justify-content-center" style="margin: 50px">
          <button class="btn btn-danger"
                  (click)="deleteFavouritMovie(i);">
            Delete from Favourites
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>







